var{
color:green;
}
div {
color:red;
padding:5px;
padding-left:4px;
padding-right:4px;
border:2px solid #fff;
background:#ddd;
}
div p, pre{
color:black;
font-size:13px;
}
table{
margin:1em;
}
table tr{
background:#dee;
}
li{
padding-left:1em;
}
cite{
 color:blue;
}